# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.egg
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.log

# Node / CDK
node_modules/
cdk.out/
*.js.map
*.d.ts
.DS_Store

!frontend/src/vite-env.d.ts

# IDE
.idea/
.vscode/
*.iml

# Docker
*.tar

# Environment
.env
.env.*
!.env.example

# AWS CDK context
cdk.context.json
